.start-container {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    margin: auto;
    background-color: white;
}

.subtext {
    padding-left: 5%;
}

h2.title {
    text-align: center;
}

.start-button {
    display: flex;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 10%;
    width: 20%;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background-color: #E40010;
    cursor: pointer;
}

p.button {
    margin: auto;
    font-size: xx-large;
    font-weight: 800;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    [class*="start-button"] {
        width: 80%;
    }
}