.GameCard {
    width: 20%; /* based on 12 cards */
    height: 28%;
    margin: 1% 1%;
    border: solid black;
    border-radius: 10%;
    cursor: pointer;
}

.hide-card {
    background-color: #d53235;
}

.card-img {
    width: 100%;
    height: 95%;
    margin-top: 2%;
    object-fit: contain;
    object-position: center;
}

.matched {
    background-color: orange;
}

.snowflake {
    background-color: transparent;
}

.show-card {
    background-color: #34A65F;
}